---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = 'https://previews.dropbox.com/p/thumb/ACSOPZTF7T2n6GU4f5WJykeBAG4-qC1UtsVRQyPD6MIzKnxftfoWQ2IekdJqAJoqmwdkOJw6vAScCPTXdAA-y4R1p5lh3eJLjpEbpdguc8wH-cC1UDFiq4r3xs6bvo2Q0pAiND7nyLoQx4bCj41We0vnAaDvb4X4ahBTSmfLKDPnQFALlx20PQlXH1n55zPdNWwuFzbAqD9nbgM2qzxdiXROaMMQ6bqUoepn42vs0Z80JTvaBoQWFxCAAAgWnc9KPN8tCi5m5q6Z5HZVIt_J1zGw0H0x00O9q1Y0CviKYB0gzMHRfghOXyXJkAxd_Bx5XspM_1QI2d7jm7t-dkjjxNmx/p.jpeg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/AtkinsonHyperlegible-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/AtkinsonHyperlegible-Bold.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
